

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body{
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    background-color: lightgray;
}

/* PayTarjet*/

#ContenidoPrincipal{
    display: flex;
    max-width: 65rem;
    justify-content: center;
    align-items: flex-start;
    margin: 5rem auto;
    padding: 1rem;
}

.resumen-pago{
    flex: 1;
    background-color: #e0e0e0;
    padding: 3rem;
    border-radius: 0.5rem;
}


.resumen-pago h3 {
    margin-top: 0;
    font-size: 1.5rem;
    border-bottom: 2px solid #ccc;
    padding-bottom: 1rem;
    color: #444;
}


.resumen-pago ul li{
    list-style: none;
    padding: 0.8rem 0;
    display: flex;
    justify-content: space-between;
}

.cuadro-pago{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    width: 45rem;
    margin-left: 2rem;
    border-radius: 0.5rem;
}

.cuadro-pago input {
    width: 100%;
    font-size: 1.2rem;
    padding: 1rem;
    border: none;
    border-radius: 0.25rem;
}


.Numero{
    width: 100%;
    margin-top: 2rem;

}

.CA-CV{
    display: flex;
    width: 100%;
}

.labels {
    display: flex;
    flex-direction: column;
    margin: 1.5rem;
}

/* Sala */

#container-hall {
    min-width: 20rem;
    max-width: 44rem;
    margin: 0 auto;
    padding: 2rem;
}

#butacas{
    width: 100%;
}

#butacas table{
    border: black 0.1rem solid;
    width: 100%;
}

.botones{
    font-weight: bold;
    text-align: center;
    padding: 0.5rem;
    margin: 1rem;
}

.botones button{
    font-size: 1.5rem;
    font-weight: bold;
    background-color: lightgray;
    padding: 1rem 3rem;
    border-radius: 0.7rem;
    margin: auto 2rem;
}

.botones button:hover{
    background-color: #f2f2f2;
}
#imagen{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

#imagen img{
    max-width: 100%;
    height: auto;
}



/*Pelicula*/
#container-film {
    display: flex;
    flex-direction: column;
    max-width: 60rem;
    margin: auto;
}

#titulo-pelicula {
    width: 100%;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 2rem;
}

#contenido-columnas {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    width: 100%;
}

#columna-izquierda {
    width: 25%;
    display: flex;
    flex-direction: column;
}

#columna-izquierda img {
    width: 100%;
    height: auto;
}

#columna-izquierda a {
    text-decoration: none;
    color: black;
    background-color: #e0e0e0;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
}

#columna-izquierda a:hover {
    color: green;
    background-color: #ccc;
}

#columna-derecha {
    width: 70%;
}

#columna-derecha p {
    margin-top: 0;
    background-color: #e0e0e0;
    padding: 20px;
}

#informacion {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}

#horarios {
    margin-left: 3rem;
}

#pelicula {
    width: 50%;
}

#horarios ul, #pelicula ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#pelicula li {
    margin-bottom: 0.8rem;
}

#horarios ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 40rem;
}

#horarios a {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    display: inline-block;
}

#horarios a:hover {
    background-color: red;
}


/* Home */

/* 5. CUADRÍCULA DE PELÍCULAS (GRILLA) */
.contenedor-peliculas {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 COLUMNAS SIEMPRE */
    column-gap: 40px;
    row-gap: 100px;
    width: 95%;
    max-width: 1200px;
    margin-bottom: 60px;
    margin-right: 60px;
}

/*  */

.card-pelicula {
    background-color: gray;
    width: 100%;
    aspect-ratio: 2 / 3.5; /* Mantiene la forma de póster */
    border: 6px solid black;
    border-radius: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}
.card-pelicula:hover { transform: scale(1.05); background-color: #555; }

/* 6. PIE DE PÁGINA (Footer Azul) */
.footer-azul {
    background-color: darkblue;
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 150px; /* Se empuja al final si hay poco contenido */
}

/*  */

.fila-redes { display: flex; gap: 20px; }
.btn-red-social {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-red-social img { width: 60%; }

.fila-legal { display: flex; gap: 30px; margin-top: 10px; }
