/* 1. CONFIGURACIÓN DEL LIENZO (BODY) */
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.contenido-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    flex-grow: 1;
    padding-top: 20px;
}

/* 4. SECCIÓN CARTELERA Y FILTROS */
.barra-filtros {
    display: flex;
    width: 95%;
    max-width: 1200px;
    gap: 20px;
    margin-bottom: 30px;
}

.btn-negro-amarillo {
    background-color: black;
    color: white;
    border: 2px solid yellow;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    height: 30px;
}

/*Funcionamiento botón filtros*/
.btn-negro-amarillo-filtros {
    background-color: black;
    color: white;
    border: 2px solid yellow;
    padding: 5px 15px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    height: 30px;
}

.contenedor-generos {
    position: relative;
    width: 20%;
    margin-left: auto;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
}

/*Utilizamos misma lista que la del buscador*/
#lista-generos {
    position: absolute;
    top: 100%;
    left: 0;

    width: 100%;
    height: auto;
    max-height: 300px;
    overflow-y: auto;

    color: white;
    z-index: 1000;
    margin: 0;
    padding: 0;
    list-style: none;
    border-radius: 0 0 16px 16px;
    background-color: #222;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.5);
}

#lista-generos li {
    padding: 12px 15px;
    cursor: pointer;
    border-bottom: 1px solid #444;
    transition: background 0.2s;
}

#lista-generos li:last-child {
    border-bottom: none;
}

#lista-generos li:hover {
    background-color: #ffcc00;
    color: #000;
}

/* 5. CUADRÍCULA DE PELÍCULAS (GRILLA) */
.contenedor-peliculas {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 COLUMNAS SIEMPRE */
    column-gap: 40px;
    row-gap: 100px;
    width: 95%;
    max-width: 1200px;
    margin-bottom: 60px;
    margin-right: 60px;
}

/*  */

.card-pelicula {
    background-color: #333;
    width: 100%;
    aspect-ratio: 2 / 3;
    border: 6px solid black;
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    text-decoration: none;
    object-fit: cover;
}

.card-pelicula img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.card-pelicula:hover {
    transform: translateY(-1rem);
    background-color: #ffd700;
    box-shadow: 10px 10px 10px #555;
}

.fila-redes { display: flex; gap: 20px; }
.btn-red-social {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: black;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.btn-red-social img { width: 60%; }

.fila-legal { display: flex; gap: 30px; margin-top: 10px; }


/* Diseño responsive peliculas */

@media (max-width: 48rem) {
     .contenedor-peliculas{
         display: flex;
         flex-wrap: wrap;
         flex-direction: row;
         justify-content: flex-start;
         width: 100%;
         margin: 1rem 0;
         gap: 1rem;
         padding: 0 1rem;
     }

    .card-pelicula {
        width: 30%;
        max-width: 10rem;
    }
}