
.contenedor-sala {
  max-width: 58rem;
  margin: 40px auto;
  padding: 40px 40px 0;
  background-color: var(--color-tarjeta, #ffffff);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Título de la sala */
.titulo-sala {
  color: var(--color-primario, #1e1e1e);
  margin-bottom: 30px;
  margin-top: -30px;
}


.mapa-butacas {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 2px solid #eeeeee;
  border-radius: 8px;
  margin-bottom: 30px;
  text-align: center;

}


.img-sala {
  max-width: 100%;
  height: auto;
}



.leyenda-butacas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px;
  padding: 15px;
  background-color: #f4f4f9;
  border-radius: 8px;
}

.leyenda-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.9rem;
  color: #555;
}

.leyenda-item img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
}


.acciones-sala {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 40rem) {

  .titulo-sala{
    font-size: 1rem;
  }

  .leyenda-item{
    font-size: 0.6rem;
  }

  .leyenda-item img {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 4px;
  }
}

.contenedor-panzoom {
  width: 100%;
  height: 450px;
  background: #1a1a1a;
  overflow: hidden;
  border-radius: 8px;
  touch-action: none;
}

.lienzo-butacas {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pantalla {
  width: 300px;
  height: 5px;
  background: #555;
  box-shadow: 0 -10px 20px rgba(255,255,255,0.2);
  margin-bottom: 50px;
  text-align: center;
  font-size: 0.7rem;
  color: #333;
}

.grid-asientos {
  display: grid;
  grid-template-columns: repeat(10, 40px); /* 10 columnas */
  gap: 10px;
  justify-content: center;
}

.asiento {
  width: 40px;
  height: 40px;
  background-color: transparent !important;
  border: none !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.asiento:hover:not(.ocupada) {
  transform: scale(1.15);
}
.asiento.libre {
  background-image: url('/assets/img/butaca-libre.png');
}

.asiento.ocupada {
  background-image: url('/assets/img/butaca-ocupada.png');
  cursor: not-allowed;
  opacity: 0.8;
}

.asiento.seleccionada {
  background-image: url('/assets/img/butaca-seleccionada.png');
  transform: scale(1.1);
}


.leyenda-butacas {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
.muestra {
  width: 25px;
  height: 25px;
  background-size: contain;
  display: inline-block;
  vertical-align: middle;
}
