<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Tus Preferencias</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<app-carrusel></app-carrusel>
<div class="container">
  <main>
    <div class="perfil-etiqueta">
    <h1>Tus Preferencias</h1>
    <section class="bloque-resumen">
      <h2>Tus Géneros Favoritos</h2>
      <ul class="lista-pildoras" id="lista-generos">
        @for (genero of generos; track genero){
          <li>{{genero}}</li>
        }
      </ul>
    </section>

    <section class="bloque-resumen">
      <h2>Tus Actores y Actrices Favoritos</h2>
      <ul class="lista-pildoras" id="lista-actores">
        @for (actores of actores; track actores){
          <li>{{actores}}</li>
        }
      </ul>
    </section>


    </div>
  </main>

</div>
</ion-content>
