
<app-carrusel></app-carrusel>
<main class="contenido-principal">

  <div class="barra-filtros">
    <button (click)="cargarCartelera(false)" class="btn-negro-amarillo">Cartelera</button>
    <button (click)="cargarCartelera(true)" class="btn-negro-amarillo">Próximamente</button>
    <div class="contenedor-generos">
      <button (click)="toggleFiltros()" class="btn-negro-amarillo-filtros">Filtros</button>

      @if (menuFiltrosVisible) {
        <ul id="lista-generos" style="display: block;">
          @for (genero of generos; track genero) {
            <li (click)="filtrarPorGenero(genero)">
              {{ genero }}
            </li>
          }
        </ul>
      }
    </div>
  </div>

  <div class="contenedor-peliculas" id="cartelera">

    @for (pelicula of peliculasFiltradas; track pelicula.id) {
      <a [routerLink]="['/info', pelicula.id]"
         class="card-pelicula"
         [style.position]="esEstreno(pelicula.fecha) ? 'relative' : 'static'">

        <img [src]="pelicula.imagen" [alt]="pelicula.titulo">

        @if (esEstreno(pelicula.fecha)) {
          <div style="position:absolute; background:red; color:white; padding:4px 8px; font-size:10px; top:5px; left:5px; border-radius:3px; font-weight:bold; z-index:10;">
            ESTRENO
          </div>
        }
      </a>
    } @empty {
      <p style="color:black; text-align:center; width:100%;">
        No hay películas con este filtro.
      </p>
    }

  </div>

</main>
