<header class="header-gris">
  <div class="header-top">
    <div class="circulo_logo">
      <img src="img/Logo.jpg" alt="Logo">
    </div>
    <div class="buscador-container">
      <input type="text" id="buscador" class="buscador-principal" placeholder="Buscar película...">
      <ul id="lista-resultados"></ul>
    </div>
    <!--
        Lista-resultados es para guardar las peliculas que coincidan con las letras que se ponga en el buscador
    -->
    <div id="sesion-container" class="sesion-container">
      <a href="login.html" class="btn-sesion" id="btn-login">Iniciar Sesión</a>
      <button onclick="cerrarSesion()" class="btn-sesion btn-logout-header oculto" id="btn-logout">Salir</button>
    </div>

  </div>
  <nav class="nav-superior">
    <a href="index.html" class="btn-negro-amarillo">Cartelera</a>
    <a href="index.html" class="btn-negro-amarillo">Para ti</a>
    <a href="login.html" class="btn-negro-amarillo" id="nav-perfil">Perfil</a>
  </nav>

</header>