<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SCREEN&EAT</title>
    <link rel="stylesheet" href="../css/layout.css">
    <style>
        /* =========================================
   BARRA DE PASOS (Base Neutral)
   ========================================= */

    </style>
</head>
<body class="paso-2">
<nav class="barra-pasos">
    <ul>
        <li class="p-1">1 Butacas</li>
        <li class="p-2">2 Entradas</li>
        <li class="p-3">3 Comida</li>
        <li class="p-4">4 Resumen</li>
        <li class="p-5">5 Pago</li>
    </ul>
    <div id="pista-progreso">
        <div id="linea"></div>
    </div>
</nav>
</body>
</html>